<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aayush - Personal Portfolio Website" />
    <meta property="og:site_name" content="Aayush Solanki - Portfolio">
    <meta property="og:title" content="Aayush Solanki - Portfolio" />
    <meta property="og:description" content="hey, I am aayush solanki, a full stack developer. This is my personal portfolio website." />
    <meta property="og:image" itemprop="image" content="https://opensourcejet.com/images/applogo.png">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1440432930" />
    <meta name="keywords" content="developer, full stack developer, mern stack developer, php, laravel, codeignitor, reactJS" />
    <meta name="author" content="Aayush Solanki" />
    <title>Aayush Solanki - Personal Portfolio Website</title>
    <link rel="icon" type="image/png" href="images/applogo.png">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>

<body>
    <div id="all">x
        <div class="cursor"></div>
        <div id="loader"><span class="color">Aayush</span>Solanki</div>
        <div id="breaker"></div>
        <div id="breaker-two"></div>
        <div id="navigation-bar"><img src="images/applogo.png" alt="logo"></div>
        <div id="header">
            <div id="particles"></div>
            <!--Social Media Links-->
            <div class="social-media-links">
                <a href="https://www.linkedin.com/in/aayush-s-8b01461b5/"><img src="images/linkedinIcon.png" class="social-media" alt="linkedin-logo"></a>
                <a href="https://github.com/aayushsolanki40"><img src="images/github.png" class="social-media" alt="github-logo"></a>
                <a href="https://stackoverflow.com/users/15422029/aayush-solanki"><img src="images/stackoverflow.png" class="social-media" alt="stackoverflow-logo"></a>
                <a href="https://www.instagram.com/__aayushrathod/"><img src="images/instagramLogo.png" class="social-media" alt="instagram-logo"></a>
            </div>
            <div class="header-content">
                <div class="header-content-box">
                    <div><img src="images/applogo.png" alt="logo" height="150" width="150"></div>
                    <div class="firstline"><span class="color">Aayush </span>Solanki</div>
                    <div class="secondline">
                        I'm a
                        <span class="txt-rotate color" data-period="1200"
                            data-rotate='[" Full Stack Developer.", " Freelancer." ]'></span>
                        <span class="slash">|</span>
                    </div>
                    <div class="secondline">Open Source jet is coming with AI enabled futuristic vision ~ Aayush Solanki</div>
                    <div class="secondline">Website is under development</div>
                </div>
            </div>
        </div>
    </div>
    <!--all the divisions-->
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>